name: Matrix demo
on: push
jobs:
  build:
    strategy:
      matrix:
        node: [16, 18, 20]
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - node: 16
            os: ubuntu-latest
          - node: 18
            os: windows-latest
          - node: 20
            os: macos-latest
        exclude:
          - node: 16
            os: windows-latest
          - node: 20
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: npm install
      - name: Run build
        run: npm run build
